<div style=" margin: auto; width: 50%;">
  
  <h1 style="padding-left: 30%; color: greenyellow;">Students Data</h1>

  <table id="table" style="border: 1px solid rgb(83, 6, 6);">
    <tr>
      <th>Roll_No</th>
      <br>
      <th>Name</th>
      <br>
      <th>Class</th>
      <br>
      <th>Section</th>
      <br>
      <th>Father_Name</th>
      <br>
      <th>Email</th>
      <br>
      <th>Phone_No</th>

    </tr>
    <tr *ngFor="let item of userList">
      <td>{{item.Roll_No}}</td>
      <br>
      <td>{{item.name}}</td>
      <br>
      <td>{{item.class}}</td>
      <br>
      <td>{{item.Section}}</td>
      <br>
      <td>{{item.father_name}}</td>
      <br>
      <td>{{item.email}}</td>
      <br>
      <td>{{item.phn_no}}</td>
    </tr>
  </table>

  <h2>Click Here to Download File</h2>
  <button (click)="a()">Download</button>
</div>